body {
    font-family: 'Lato', sans-serif;
    margin: 0;
}

#menu {
    text-align: center;
    background: #000;

}

#menu ul {
    margin: 0;
    padding: 5px;
}

#menu .menu-item {
    display: inline-block;
    padding: 25px;
    list-style: none;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
}

#menu .menu-item a {
    text-decoration: none;
    color: #fff;
}

#menu .menu-item a {
    color: #999;
}


#header h2 {
    text-align: center;
    margin: 15px;
    position: relative;
    
    
}

#header img {
    width: 100%;
    position: relative;
}
    


#about {
    text-align: center;
    padding: 0 0px;
    
}

.about2 {
    width: 50%;
    height: 450px;
    text-align: center;
    padding: 6px 379px;
    position: absolute;
    z-index: 1;
}

.o-mnie {
    
}